{% load staticfiles %}
{% load bootstrap4 %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>登录</title>
    <link rel="stylesheet" href= "{% static 'css/melog.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
</head>
<body>
<div class="container">
    <div class="row form">
        <div class="form-horizontal col-md-offset-3" id="login_form">
            <h3  class="form-text" style="color: whitesmoke;text-align: center;font-size: 3em">Welcome</h3>
            <div class="col-md-9 justify-content-center">
                <form action="." method="POST">
                    {% csrf_token %}


                    <div class="form-group">
                        <input name="username" class="form-control required" type="text" placeholder="Username" autofocus="autofocus">
                        <span>{{ mess }}</span>
                    </div>
                    <div class="form-group">
                        <input name="password" class="form-control required" type="password" placeholder="Password">
                    </div>
                    <div class="form-group">
                        {{ login_form.captcha.errors }}
                        {{ login_form.captcha.label_tag }}
                        {{ login_form.captcha }}
                    </div>
                    <div class="form-group col-md-offset-9">
                        <button type="submit" class="btn btn-primary pull-right " name="submit">登录</button>
                    </div>
                </form>
                <br>
                <h5>Forgot Password?</h5>
                <h5>Click<a href="{% url 'password_reset_recover' %}">Me</a>Reset Password </h5>
            </div>
    </div>
</div>
</div>
</body>
</html>