{% extends "userprofile/userbase.html" %}
{% load staticfiles %}
{% load bootstrap4 %}
<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <title>个人主页</title>
</head>
<body>
{% block content %}
    <br>
    <br>
<div class="container marketing ">
      <!-- Three columns of text below the carousel -->
      <div class="row justify-content-center ">
        <div class="col-lg-4">
            {% if profile.icon %}
                <img class=" rounded-circle center-block " src="{{ profile.icon.url }}" alt="icon" width="140" height="140">
            {% else %}
                <img class="img-responsive rounded-circle center-block " src="{% static 'images/default_icon.png' %}" alt="default icon " width="140" height="140">
            {% endif %}
            <br>
          <h2 class="">{{ user.username }}</h2>
          <p class="">{{ profile.bio }}</p>
        </div><!-- /.col-lg-4 -->
      </div>
      <!-- START THE FEATURETTES -->
    <div class="nav-pills">我的文章</div>
   {% for article in list %}

      <hr class="featurette-divider">
      <div class="row featurette">
        <div class="col-md-7">
            <h2 class="featurette-heading">{{ article.title }}</h2>
            <p class="lead">{{ article.created_time }}</p>
            <p class="lead">{{ article.category }}</p>
            <p><a class="btn btn-default" href="{% url 'index' %}show-{{ article.id }}.html"  role="button">View details &raquo;</a></p>
            <p class="text-right"><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div>
        <div class="col-md-5">
            {% if article.img %}
                <img class="featurette-image " src="{{ article.img.url }}" alt="Generic placeholder image"height="200" width="350">
            {% else %}
                <img class="featurette-image " src="{% static 'images/default_article.jpg' %}" alt="Generic placeholder image" height="200" width="350">
            {% endif %}
        </div>
      </div>
      <hr class="featurette-divider">
        {% endfor%}
    </div>

{% endblock %}
</body>
</html>