{% load staticfiles %}
{% load bootstrap4 %}
<!DOCTYPE html>
<html lang="zh-CN">
<head>
    {% block title%}
    <title></title>
    {% endblock %}
    <meta charset="UTF-8">
<link rel='stylesheet' id='bootstrap-css' href='{% static "bootstrap/css/bootstrap.min.css" %}' type='text/css' media='all'/>
<link rel='stylesheet' id='fontawesome-css' href='{% static "css/font-awesome.min.css" %}' type='text/css' media='all'/>
<link rel='stylesheet' id='stylesheet-css' href='{% static "css/style.css" %}' type='text/css' media='all'/>
<link rel='stylesheet' id='raxus-css' href='{% static "css/raxus.css" %}' type='text/css' media='all'/>
<link rel='stylesheet' id='open_social_float_button' href='{% static "css/os.css" %}' type='text/css' media='all'/></head>
<body>
<!-- 头部 -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
     <a class="navbar-brand" href="/" >My Blog</a>



    <div class="collapse navbar-collapse" id="navbarSupportedContent">
     <ul class="navbar-nav mr-auto "   >
        <li class="nav-item"  >
            <a class="nav-link" href="/">首页</a></li>

        {% for category in allcategory %}
        <li  class="nav-item">
            <a class="nav-link" href="{% url 'index' %}list-{{ category.id }}.html">{{ category.name }}</a>
        </li>
        {% endfor %}

        <li class="nav-item" >
            <a class="nav-link" href="{% url 'about' %}">关于</a></li>
    </ul>

    <form method="get" class="form-inline my-2 my-lg-0" action="{% url 'index' %}s/" >
        <input class="form-control mr-sm-2" name="search" type="text" placeholder="输入关键字" value="">
        <button class="submit btn btn-outline-light my-2 my-sm-0 " type="submit"><i class="fa fa-search"></i></button>
    </form>
    <ul class="navbar-nav  justify-content-end ">
        <!--条目-->
        {% if request.user.is_authenticated %}
        <li class="nav-item dropdown" >
            <a class="nav-link dropdown-toggle justify-content-end" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {{ request.user.username}}</a>
             <ul>
                 <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                 <li><a class="dropdown-item" href="{% url 'index' %}success/{{ request.user.id }}">我的主页</a></li>
                  <li><a class="dropdown-item" href="{% url 'userprofile:edit' request.user.id %}">Edit</a></li>
                 <li><a class="dropdown-item" href="{% url 'userprofile:logout' %}">Log out</a></li>
                </div>
             </ul>
        </li>
        {% else %}
        <li class="nav-item">
            <a class="nav-link " id="login" href="{% url 'userprofile:login' %}">登录</a>
        </li>
        <li class="nav-item "> | </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'userprofile:register' %}">注册</a>
        </li>
        {% endif %}
    </ul>
</div>

</nav>

{% block content %}
{% endblock %}

<!-- 底部 -->
<footer class="footer fixed-bottom">
<div class="copyright"> © 2019 · All Rights Reserved
    · <a href="#" target="_blank">湘ICP备17023990号</a> 版权所有 © </div>
</footer>
    <!-- bootstrap.js 依赖 jquery.js 和popper.js，因此在这里引入 -->
    <script src="{% static 'jquery/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'popper/popper.js' %}"></script>
    <script src="{% static 'bootstrap/js/bootstrap.min.js'%}"></script>
    <!-- 引入layer.js -->
    <script src="{% static 'layer/layer.js' %}"></script>
</body>
</html>